footer {
    .our-gallery {
        .bottom {
            .link {
                button {
                    border: 1px solid $colorDarkGrey;
                    padding: 5px 12px;
                    color: $colorDarkGrey;
                    font-size: 20px;
                    line-height: 22px;
                    background-color: $colorLight;
                    transition: all 0.5s;

                    &:hover {
                        background-color: $primaryColor;
                        color: $colorDark;
                    }
                }
            }
        
            .title {
                h1 {
                    font-size: 50px;
                    line-height: 55px;
                }
        
                @media screen and (min-width: "768px") {
                    width: 50%;
                }
            }
        
            .gallery-img {
                img {
                    width: 100%;
                    border-radius: 200px;
                    transition: all 0.5s;
                    overflow: hidden;
        
                    @media screen and (min-width: "767px") {
                        width: 50%;
                    }

                    &:hover {
                        scale: 1.05;
                    }
                }
            }
        }

        &::before {
            content: "";
            position: absolute;
            background: #ffffff;
            background: linear-gradient(180deg,rgba(255, 255, 255, 0.33) 6%, rgba(213, 230, 188, 1) 53%);
            height: 90%;
            width: 100%;
            z-index: -1;
            bottom: 0;
        }
    }
}