body {
    &.overflow-hidden {
        overflow: hidden;
        header {
            width: 100vw;
            height: 100vh;
        }
    }

    @keyframes rotateMe {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
}