$primaryColor: #d5e6bc;
$secondaryColor: #aedb9f;
$tertiaryColor: #06512c;
$colorLight: #ffffff;
$colorDark: #000000;
$colorGrey: #e7e7e7;
$colorDarkGrey: #898989;

$fontPrimary: "Poppins", sans-serif;
$fontSecondary: "Lato", sans-serif;

$round: 50%;
$rounded: 8px;
$rounded-more: 14px;

$transition: all 0.25s cubic-bezier(0.25, 0.1, 0.25, 1);
$transition-slow: all 1s cubic-bezier(0.25, 0.1, 0.25, 1);